<a href="https://colab.research.google.com/github/FancyFun/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [ ]:
# YOUR WORK HERE

import pandas as pd

df = pd.read_csv('student-mat[1].csv', sep=';')

df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [ ]:
from scipy import stats

# YOUR WORK HERE

#df.describe(exclude='number')
som = pd.crosstab(df['freetime'], df['studytime'])


chi2, p_value, dof, ch = stats.chi2_contingency(som)

print("chi2 statistic", chi2)
print("p value", p_value)
print("degrees of freedom",dof)
print("expected frequencies table \n", ch)

chi2 statistic 23.53045426913059
p value 0.023545617681757027
degrees of freedom 12
expected frequencies table
 [[ 5.05063291  9.52405063  3.12658228  1.29873418]
 [17.01265823 32.08101266 10.53164557  4.37468354]
 [41.73417722 78.69873418 25.83544304 10.73164557]
 [30.56962025 57.64556962 18.92405063  7.86075949]
 [10.63291139 20.05063291  6.58227848  2.73417722]]

In [ ]:
som1 = pd.crosstab(df['traveltime'], df['health'])


chi2, p_value, dof, sh = stats.chi2_contingency(som1)

print("chi2 statistic", chi2)
print("p value", p_value)
print("degrees of freedom",dof)
print("expected frequencies table \n", sh)

chi2 statistic 6.782234593768585
p value 0.871662445638273
degrees of freedom 12
expected frequencies table
 [[30.57974684 29.27848101 59.20759494 42.94177215 94.99240506]
 [12.73164557 12.18987342 24.65063291 17.87848101 39.54936709]
 [ 2.73670886  2.62025316  5.29873418  3.84303797  8.50126582]
 [ 0.95189873  0.91139241  1.84303797  1.33670886  2.95696203]]

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [ ]:
# YOUR WORK HERE

import numpy as np

el = pd.crosstab(df['freetime'], df['studytime'])

p1 = df['freetime'].value_counts().sort_index().values

p2 = df['studytime'].value_counts().sort_index().values

size = df.shape[0]

In [ ]:
expected = np.array([[0.0,0.0,0.0,0.0],
                     [0.0,0.0,0.0,0.0],
                     [0.0,0.0,0.0,0.0],
                     [0.0,0.0,0.0,0.0],
                     [0.0,0.0,0.0,0.0]])

for row_position, col in enumerate(p1):
  for column_position, row in enumerate(p2):
    something = (row*col) / size
    expected[row_position][column_position] = something

expected

array([[ 5.05063291,  9.52405063,  3.12658228,  1.29873418],
       [17.01265823, 32.08101266, 10.53164557,  4.37468354],
       [41.73417722, 78.69873418, 25.83544304, 10.73164557],
       [30.56962025, 57.64556962, 18.92405063,  7.86075949],
       [10.63291139, 20.05063291,  6.58227848,  2.73417722]])

In [ ]:
p2.shape

(4,)

In [ ]:
chi2 = ((el - expected)**2 / expected).sum().sum()
chi2

23.53045426913059

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [ ]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)